:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--default-font-family);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  
  h1 {
    font-size: 96px;
  }
  h2{
    font-size: 64px;
    font-family: var(--heading-font-family);
  }
  h3{
    font-size: 48px;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #272142;
  }
  
  .hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
  }
  
  .hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
  }
  
  .hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
  }
  
  .btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
  .btn-branding-outline{
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
  }
  .project-description{
    padding: 120px 60px;
  }
  .navbar{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }
  .about{

  }
  .about-content{
    margin: 30px;
  }
  .about-content h1{
    font-size: 64px;
    line-height: 80px;
  }
  .about-content h2{
    font-size: 18px;
    font-family: var(--default-font-family);
  }
  .about-content h3{
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
  }
.about-content p{
  font-size: 14px;
}
.logo{
  max-height: 40px;
  
}
nav ul{
  margin: o;
  padding: 0;
}
nav li{
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a{
  text-decoration: none;
  transition: all 100ms ease-in-out;
  color: #212529;
}
li.active a{
  color: var(--branding-color);
  
}
footer{
  margin: 60px 0;
}



footer.contact-box{
  background: var(--secondary-color);
  padding: 30px 110px;
  border-radius: 10px;
}

footer .email-link{
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer.email-link:hover{
  color: var(--branding-color)
}

footer .social-links a{
  font-size: 18px;
  border-radius: 50%;
  padding: 10px 14px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}


footer .social-links a:hover{
  color: white;
  background: var(--branding-color);
}
@media(max-width){
  h1{
    font-size: 44px;
    line-height: 1.5;
  }
  h2{
    font-size: 44px;
  }
  h4{
    font-size: 26px;
  }
  .hero{
    padding: 80px 20px;
  }
  .project-description{
    padding: 0;
    text-align: center;

  }
}
.form-input{
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 10px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  
}
